*{margin: 0;padding:0;color:white;
	font-size: 16px;
}
font-family: 'Roboto Slab', serif;
font-family: 'Oswald', sans-serif;

img{width: 100%}
.bggris{background-color: #343638;
	text-align: left;
	padding:30px;
}

.bgwhite{
	background-color: white;
	text-align: left;
	padding:40px;
	margin: 10px;
}

.bgwhite p{
	color: black;
}

.bgblack{background-color: black;}

.fijo{
	position: fixed;
	z-index: 100;
	background-color: black;

}


.menu{
	height: 125px;
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
	background-color: black;
	background-image: url(img/fondo.png); 
	text-align: right;
	padding-top: 35px;
	padding-right: 50px;
	
}

@keyframes pal1{
		0%{	opacity: 0;
		
		}
		
		100%{opacity: 1;
					
		}
	}

.logo{width:30%;
	background-color: black;
	animation-name: pal1;
	animation-duration: 3s;
	animation-delay: 1s;
		
}

.slide{
	  width: 100%;
	  padding-top: 75px;
	  background-color: black;

}

.slide2{
	  width: 100%;
	  padding-top: 75px;
	  background-color: black;
	 
}


.banda{
	padding: 25px;
	font-family: 'Roboto Slab', serif;
	text-align: left;
}


.redes{
	height: 35px;
	background-color:#bc2025;
	/*padding-top: 170px;*/
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
}

.redes ul{
	list-style-type: none;
	text-decoration: none;
	color: white;
}

.redes ul li{
	display: inline-block;
	padding: 1px;
}

.foot{height: 1000px;
   background-color: black;
   text-align: center;
   font-size: 0.9em;
}

h2{font-family: 'Oswald', sans-serif;
   color:#bc2025;
   font-size: 1.4em;
   padding-top: 0.9em;
}

h1{font-family: 'Oswald', sans-serif;
   /*color:#bc2025;*/
   color: black;
   font-size: 1.8em;
   /*padding-top: 0.9em;*/
   padding-bottom: 0.5em;
   background-color: white;
}

p{
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
}


.menu ul{
	list-style-type: none;
	text-decoration: none;
	color: white;
}

.menu ul li{
	display: inline-block;
	padding: 2px;
}

.menu ul li a{
	display: block;
	padding: 0.5em;
	/*background: white;*/
	color: white;
	text-decoration: none;
}

.menu ul li a:hover{
	color: #bc2025;
	background-color: white;
	opacity: 1;
	animation-name: pal1;
	animation-duration: 1.3s;
}



/*FORMULARIO*/

.textoform{
    font-family: 'Oswald', sans-serif;
    color:#bc2025;
    font-size: 1.4em;
}

                    
#formulario {                    
	width: 100%;                    
	/*padding: 1em;*/                    
	}                    
                    
#FormContacto input, #FormContacto textarea {
	background: black;
	width:100%; 
	/*margin-bottom: 1em;*/
	padding: 0.5em;
	box-sizing: border-box;
	border: 2px solid darkgrey;
		
}

#FormContacto input[type="submit"]{
	width: 40%;
	background: #5c5c5c;
	color: white;
	text-align: center;

}

#FormContacto input[type="submit"]:hover{
	background: #bc2025;}

#FormContacto:valid{
	background: white;
}
#FormContacto:invalid{
	background: lightgrey;
	}



/*Media Queries*/
/* Small / 0px - 600px */
@media screen and (min-width: 0px) and (max-width: 600px){
	.slide{
		padding-top: 180px;}
	.slide2{
		padding-top: 300px;}
	.menu{
	height: 210px;
	font-size: 1.9em;
	text-align: center;
	padding:1px;

	}

	.menu ul li{
	display: list-item;
	padding: 0.5px;
}

	.logo{
		text-align: center;
		width: 50%;
		left: 25%;
	}
	/*body{background: green;
	}*/

} 

/*Medium / 601px - 900px */
@media screen and (min-width: 601px) and (max-width: 900px){
	.slide{
		padding-top: 130px;}

	.slide2{
		padding-top: 210px;}

	.menu{
	height: 100px;}
	
	.logo{
		text-align: center;
		width: 50%;	}
		/*body{background: red;
	}*/
}

/*Large / 901px - 1200px*/
@media screen and (min-width: 901px) and (max-width: 1200px){
	.slide2{
		padding-top: 120px;}

   /* body{background: darkblue;
	}*/

}
